.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.priceandrating {
    display: flex;
    flex-direction: column;
    align-items: end;
    padding: 5px 25px;
}
.priceandrating p {
    padding: 2px 0;
}
.button {
    display: flex;
    justify-content: flex-end;
}
.button p {
    font-size: 20px;
}
.thumbnail {
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.thumbnail img {
    width: 300px;
}