.searchandsortingandlimit {
    width: 1400px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background: #ffffff;
    margin: 30px 0;
    border-radius: 4px;
    position: relative;
    -webkit-box-shadow: 0px 1px 3px -1px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 1px 3px -1px rgba(66, 68, 90, 1);
    box-shadow: 0px 1px 3px -1px rgba(66, 68, 90, 1);
}

.catalog {
    width: 1400px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
}

.buttongroups {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 16px;
    flex-grow: 1;
}

.search {
    margin: 0 18px 0 0;
    flex-grow: 0;
}

.paginator {
    margin: 60px 0;
}